
p.flashy {

  color: red;
  font-style: italic;
  font-size: 25px;
  text-shadow: 2px 2px black;

}

.paragraph {
  padding-top: 80px;
}

h2.flashy {

  color: red;
  font-style: italic;

}

h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 3px #FF0000;

}



body {
  font-family:fantasy !important;
  background-image:url("http://wallpapercave.com/wp/IynYE05.png");

}

img.floatcake {
      border-radius: 50%;
       box-shadow: 10px 10px 5px #888888;
       width: 5%;
       float: left;
}

img.best {

  box-shadow: 20px 20px 2px #888888;
  border-radius: 50%;
  padding-top: 100px;
  display: block;
  margin: auto;




}

.gallery {
  padding-top: 60px;
  padding-bottom 30%;
  margin: auto;
  width: 25%;
}
